/* HOVER */
.main-content nav li:hover{
  transform: scale(1.3);
  transition: all 0.5s ease;
  filter: opacity(1);
}
.main-content nav li:hover a{
  color: white;
}
aside .home a:hover img{
  filter: opacity(1);
  transform: scale(1.3);
  transition: all 0.2s ease;
}
aside .home a:hover span{
  color: white;
}
aside .add-playlist:hover{
  background-color: white;
}
aside .add-playlist:hover i{
  transform: scale(1.3);
}
aside .playlist-container a:hover span{
  color: white;
}
.main-content .col:hover{
  transform: scale(1.05);
}
.main-content .col .song-img-box:hover .play-song{
  display: flex;
  justify-content: center;
  align-items: center;
}
section.bottom-player i:hover{
  transform: scale(1.4);
}
.box-main .button:hover{
  transform: scale(1.1);
}
.central-box .player-timeline .time-bar:hover .real-time,
.right-box .volume-slider:hover .effective-volume{
  background-color: greenyellow;
}
.central-box .player-timeline .time-bar:hover .pointer{
  display: block;
  transform: scale(6);
}

/* FAKE ACTIVE */
aside li.active{
  border-left: 3px solid yellow;
  font-size: 1.3rem;
}
.main-content nav li.active::before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 5px);
  width: 75%;
  height: 2px;
  background-color: yellow;
  border-radius: 4px;
  transform-origin: center;
}