@media screen and (max-width: 1100px){
  div.row.recently{
    flex-wrap: wrap;
    width: calc(100%/4);
  }
  div.row.recently .col{
    width: 20%;
    margin: 20px;
  }

  .row.for-you,
  .row.artist{
    width: 50%;
  }
}
@media screen and (max-width: 868px){
  .main-content nav li a{
    font-size: 1.3rem;
  }
  .main-content section>h2,p{
    margin-left: 40px;
  }
  div.row.recently{
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
  }
  div.row.recently .col{
    width: 40%;
  }
  .row.for-you,
  .row.artist{
    width: 100%;
    justify-content: center;
  }
  .row.for-you .col,
  .row.artist .col{
    width: 40%;
  }
}
@media screen and (max-width: 600px){
  .pc-view{
    display: none;
  }
  .box-main{
    width: calc(100% - 50px);
  }
  aside{
    width: 50px;
    padding: 5px
  }
  aside .logo-smll{
    display: block;
    width: 100%;
  }
  aside .col.home .img-svg{
    width: 30px;
    height: 30px;
    margin: 15px auto;
  }
  aside .col.home li{
    border: none;
    padding: 0;
  }
  aside .col.home li a{
    font-size: 2rem;
  }
  aside .user-setting{
    padding: 0;
  }
  aside .user-setting .setting{
    border: none;
  }
  aside .user-setting .img-svg{
    margin: 10px auto;
  }
  .box-main .head{
    width: calc(100% - 50px);
  } 
  .main-content nav li a{
    font-size: 1rem;
  }
  .main-content section h2{
    margin-left: 20px;
  }
  div.row.recently .col,
  .row.for-you .col,
  .row.artist .col{
    width: 45%;
    margin: 1%;
  }
  section.bottom-player> div{
    width: 25%;
  }
  section.bottom-player .central-box{
    width: 50%;
  }
  section.bottom-player .central-box .player-timeline{
    padding-bottom: 0;
  }
  .bottom-player .left-box .like i{
    margin: 5px 0px;
  }
  section.bottom-player .right-box i{
    margin: 10px;
  }
}