/****************************************************************
VAR 
****************************************************************/
:root{
  --back-main:#141922;
  --back-player:#282828;
  --text-grey:#7D7F84;
  --margin-20px:20px;
  --margin-40px:40px;
  --margin-60px:60px;
  --margin-20-0:20px 0px;
  --margin-40-0:40px 0px;
  --margin-60-0:60px 0px;
  --padding-20px:20px;
  --padding-40px:40px;
  --padding-60px:60px;
  --padding-20-0:20px 0px;
  --padding-40-0:40px 0px;
  --padding-60-0:60px 0px;
}
/****************************************************************
GENERAL 
****************************************************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", "Helvetica Neue", Helvetica, A;
  list-style: none;
  text-decoration: none;
}
img{
  width: 100%;
}
a, span, p{
  color: var(--text-grey);
}
h2, h3{
  margin: var(--margin-20-0);
  color: white;
}
aside span{
  line-height: 70px;
}
.box-main .row{
  margin: var(--margin-40-0);
}
.box-main h2, p{
  padding-left: 20px;
}
.card{
  text-align: center;
}
/****************************************************************
DEBUG 
****************************************************************/
.debug-box{
  background-color: rgba(255, 0, 0, 0.5);
}
.debug{
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid red;
  min-height: 50px;
  min-width: 50px;
}
/****************************************************************
DISPLAY 
****************************************************************/
.d-flex{
  display: flex;
}
.d-column{
  flex-direction: column;
}
.d-wrap{
  flex-wrap: wrap;
}
.d-none{
  display: none;
}
/****************************************************************
CONTAINER 
****************************************************************/
.container{
  margin: 0 auto;
}
.cercle-box{
  background-color: var(--text-grey);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
}
/****************************************************************
SECTION MAIN 
****************************************************************/
.main-content{
  background-color: var(--back-main);
  height: calc(100vh - 150px);
}
aside{
  width: 220px;
  padding-left: 20px;
  background-color: black;
  justify-content: space-between;
}
aside .logo-big{
  padding: 20px 60px 20px 0px;
}
aside .img-svg{
  width: 30px;
  height: 30px;
  margin: var(--margin-20-0);
  margin-right: 20px;
}
aside .img-svg img{
  filter: opacity(0.5);
}
aside .playlist h2{
  margin: var(--margin-20-0);
}
aside .row .playlist-container{
  overflow: auto;
  height: 100%;
}
aside .playlist .add-playlist{
  width: 50px;
  height: 50px;
  margin: 10px 10px 10px 0px ;
  background-color: var(--text-grey);
  justify-content: center;
  align-items: center;
}
aside .playlist .add-playlist i{
  font-size: 2rem;
  font-weight: bold;
}
aside .user-setting{
  padding-right: 20px;
  position: sticky;
}
aside .user-setting .setting{
  object-fit: contain;
  border-bottom: 1px solid var(--text-grey);
}
.box-main{
  width: calc(100% - 220px);
  position: relative;
  overflow: hidden;
}
.box-main .head{
  position: absolute;
  height: 120px;
  width: 100%;
  background-color: #080b12a8;
  justify-content: end;
  align-items: center;
}
.box-main .button{
  height: 60%;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
  padding: 20px;
}
.box-main .button a{

  
}
.box-main .body{
  overflow: auto;
  height: 100%;
  margin-top: 120px;
}
.body nav{
  width: 100%;
}
.body nav ul{
  padding: 10px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.body nav li{
  margin: var(--margin-20-0);
  text-align: center;
}
.body nav li a{
  text-transform: uppercase;
  padding: 20px;
  font-size: 1.5rem;
  text-decoration: none;
}
.body  .row.recently{
  width: 100%;
  text-align: center;
}
.row.recently .col .card{
  height: 100%;
}
.row.recently .col .card span{
  font-size: .8rem;
  font-weight: bold;
}
.row.recently .col{
  width: calc(100%/6);
  margin: var(--margin-20px);
}
.row.for-you,
.row.artist{
  width: calc(100% / 3);
}
.row.for-you .col,
.row.artist .col{
  justify-content: space-around;
  margin: var(--margin-20px);
  width: 50%;
}
.row.for-you .card,
.row.artist .card{
  width: 100%;
}
.row.artist .song-img{
}
.row.artist .song-img.cercle{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;

}
/****************************************************************
SECTION PLAYER 
****************************************************************/
.box-player{
  height: 150px;
  background-color: var(--back-player);
  justify-content: space-between;
}
.box-player .player{
  width: 50%;
}
