/****************************************************************
VAR 
****************************************************************/
:root{
  --back-main:#141922;
  --back-player:#282828;
  --light-grey:#7D7F84;
  --margin-20px:20px;
  --margin-40px:40px;
  --margin-20-0:20px 0px;
  --margin-40-0:40px 0px;
  --padding-20px:20px;
  --padding-40px:40px;
  --padding-20-0:20px 0px;
  --padding-40-0:40px 0px;
}
/****************************************************************
GENERAL 
****************************************************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", "Helvetica Neue", Helvetica, A;
  list-style: none;
  text-decoration: none;
}
img{
  width: 100%;
}
.img-svg{
  width: 30px;
  height: 30px; 
  margin: var(--margin-20-0);
  margin-right: 20px;
}
span, p{
  color: var(--light-grey);
}
h2, h3 ,p{
  margin: var(--margin-20px);
  color: white;
}
.box-main .row{
  margin: var(--margin-40-0);
}
.card{
  text-align: center;
}
/****************************************************************
DEBUG 
****************************************************************/
.debug-box{
  background-color: rgba(255, 0, 0, 0.5);
}
.debug{
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid red;
  min-height: 50px;
  min-width: 50px;
}
/****************************************************************
DISPLAY 
****************************************************************/
.d-flex{
  display: flex;
}
.d-column{
  flex-direction: column;
}
.d-wrap{
  flex-wrap: wrap;
}
.d-none{
  display: none;
}
.justify-c{
  justify-content: center;
}
.align-c{
  align-items: center;
}
/****************************************************************
CONTAINER 
****************************************************************/
.container{
  margin: 0 auto;
}
.cercle-box{
  background-color: var(--light-grey);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
}
.ltl-square{
  width: 30px;
  height: 30px;
}
.mid-square{
  width: 50px;
  height: 50px;
}
.big-square{
  width: 60px;
  height: 60px;
}
/****************************************************************
SECTION MAIN 
****************************************************************/
.main-content{
  overflow: hidden;
  background-color: var(--back-main);
  height: calc(100vh - 100px);
  position: relative;
}
/****************************************************************
ASIDE
****************************************************************/
aside{
  height: 100%;
  width: 250px;
  background-color: black;
  justify-content: space-between;
}
aside .logo-big{
  padding: 20px 60px 20px 20px;
}
aside li{
  padding-left: 20px;
}
aside .img-svg{
  margin: 10px 10px 10px 0px;
}
aside span{
  line-height: 50px;
}
aside .img-svg img{
  filter: opacity(0.5);
}
aside .row{
  height: 100%;
  overflow: hidden;
}
aside .row .playlist-container{
  overflow: auto;
  height: 100%;
}
aside .playlist .add-playlist{
  margin: 10px 10px 10px 20px;
  background-color: var(--light-grey);
}
aside .playlist .add-playlist i{
  font-size: 2rem;
  font-weight: bold;
}
aside .user-setting{
  padding: 0px 20px;
  position: sticky;
}
aside .user-setting .setting{
  object-fit: contain;
  border-bottom: 1px solid var(--light-grey);
}
.box-main{
  width: calc(100% - 250px);
  overflow: hidden;
}
.box-main .head{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 120px;
  width: calc(100% - 250px);
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: end;
  align-items: center;
}
.box-main .button{
  height: 55px;
  background-color: rgba(0, 0, 0, .8);
  border: 1px solid white;
  text-transform: uppercase;
  margin-right: 20px;
  padding: 5px 50px;
  border-radius: 40px;
  align-items: center;
}
.box-main .button a{
  color: white;
}
.box-main .body{
  overflow: auto;
  height: 100%;
  padding-top: 120px;
}
.body nav{
  width: 100%;
}
.body nav ul{
  padding: 10px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.body nav li{
  margin: var(--margin-20-0);
  text-align: center;
}
.body nav li a{
  color: var(--light-grey);
  text-transform: uppercase;
  padding: 20px;

  text-decoration: none;
}
.body  .row.recently{
  width: 100%;
  text-align: center;
}
.row.recently .col .card{
  height: 100%;
}
.row.recently .col .card span{
  font-size: .8rem;
  font-weight: bold;
}
.row.recently .col{
  width: calc(100%/6);
  margin: 10px;
}
.row.for-you,
.row.artist{
  width: calc(100% / 3);
}
.row.for-you .col,
.row.artist .col{
  justify-content: space-around;
  margin: var(--margin-20px);
  width: 50%;
}
.row.for-you .card,
.row.artist .card{
  width: 100%;
}
.row.artist .song-img.cercle{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
/****************************************************************
SECTION BOTTOM 
****************************************************************/
section.bottom{
  height: 100px;
  width: 100%;
  background-color: var(--back-player);
  justify-content: space-between;
}
section.bottom i{
  color: white;
}
section.bottom .left-box,
section.bottom .right-box{
  width: 250px;
}
section.bottom .player-command{
  height: 100%;
  margin: 0 auto;
}
/* PLAYER LEFT-BOX */
.bottom .left-box h4{
  color: white;
}
.bottom .left-box .artist-played{
  flex-grow: 1;
  margin-left: 10px;
}
.bottom .left-box .artist-played span{
  font-size: .8rem;
}
.bottom .left-box .like i{
  margin-right: 10px;
}
/* PLAYER CENTRAL-BOX  */
.bottom .central-box{
  width: calc(100vw - 500px);
}
.bottom .central-box .player-command{
  height: 50%;
  width: 200px;
  padding-top: 10px;
  justify-content: space-between;
  font-size: 1.2rem;
}
.bottom .central-box .player-command .play-button{
  font-size: 2rem;
}
.bottom .central-box .player-timeline{
  height: 50%;
  width: 100%;
  padding-bottom: 20px;
}
.bottom .central-box .player-timeline .time-bar{
  width: 60%;
  border: 1px solid var(--light-grey);
  margin: 0px 40px;
  border-radius: 10px;
}
.central-box .player-timeline .time-bar .real-time{
  width: 25%;
  height: 2px;
  background-color: white;
}
/* PLAYER RIGHT-BOX */
.bottom .right-box{
  font-size: .8rem;
}
.bottom .right-box i{
  margin: 15px;
}
.bottom .right-box .volume-slider{
  background-color: var(--light-grey);
  width: 150px;
  margin-right: 20px;
  border-radius: 10px;
}
.bottom .right-box .volume-slider .effective-volume{
  width: 40%;
  height: 100%;
  border: 1px solid white;
}